body {
    font-family: "lucida grande",tahoma,verdana,arial,sans-serif; 
    font-size: 14px; 
    width: 1020px ;
    margin: auto ;
    padding-left: 10px; 
    padding-right: 10px; 
    text-align: justify ;
}

/*****/
/********** global settings */
a, a:visited, a:active, a:focus {
    text-decoration: none;     
    color: #000000; 
    font-weight: bold ;
}


textarea {
    // resize: none ; 
}

/*****/

/*****/
/********** per block ****/

/* fork me on github */
a#github-link {
   background-image: url('/img/forkme.png'); 
   width: 149px; 
   height: 149px;
   position: absolute ; 
   top: 0; 
   right: 0;
}

/* header, handcrafted etc .. */

header {
    padding-top: 15px ; 
}

header a, a:visited, a:active, a:focus {
    text-decoration: none;     
    color: #000000; 
    font-weight: normal; 
}


hgroup {
    float: left; 
    width: 400px; 

}

hgroup h1 {
    font-size: 50px; 
}

hgroup h4 {
    font-size: 10px ;
    margin-top: -35px; 
}

hgroup h4 span#hdlineL {
   margin-left: 80px; 
}

hgroup h4 span#hdlineR {
    margin-left: 33px; 
}


/* nav */
nav {
    margin-top: 40px; 
    float: right ; 
}
nav li {
    display: inline; 
    margin-left: 10px; 
    margin-right: 10px;
}


/* container */

div#container {
    clear: both; 
    padding-top: 30px ;
    width: 1020px;
    
}

/* footer */

div#wrap {
    min-height: 100%; 
}

div#container{
    overflow: auto; 
    padding-bottom: 80px;
} 

footer {
    // padding-top: 30px; 
    position: relative;
    margin-top: -50px;
    height: 50px;
    clear:both;
} 



footer div {
    width: 700px;
    margin: auto ;
    font-size : 11px ;
    padding-top: 15px; 
    text-align: center; 
    border-top-style:solid;
    border-top-width:1px;
}


div.clearall {
    clear: both ;
}

div#home_left {
    float: left ;
    width: 680px ;
    overflow: hidden ;
    padding-right: 20px ;
    padding-top: 40px ;
}

div#home_right {
    float: right; 
    width: 300px ;
    overflow: hidden ;
}

div#home_right img  {
    width: 300px ;
}


div#out_activity_container {
    margin-top: 20px ; 
    border-top-style:solid;
    border-top-width:1px;
}


div#contribute {
    margin-top: 20px ; 
    border-top-style:solid;
    border-top-width:1px;
    text-align: justify ;
}

/* home *********************************************************************************/

div#puzzles_description {
    text-align: justify ;
}

div#challenges_block {
    padding-top: 40px; 
}


div#challenges_block h2 {
    padding-bottom: 10px; 
}

div#challenge_nav {
    padding-top: 20px; 
}

div#challenge_nav_left {
    width: 50px ;
    height: 50px ; 
    background-image: url('/img/arrow-left.jpg') ;
    background-repeat: no-repeat ; 
    float: left ;
}

div#challenge_nav_right {
    width: 50px ;
    height: 50px ;
    background-image: url('/img/arrow-right.jpg') ;
    background-repeat: no-repeat ; 
    float: right ;
    text-align: right ;
}


div.challenge_short {
    padding-top: 5px; 
    padding-bottom: 5px ;
    padding-left: 20px ;
    border-top-style:solid;
    border-top-width:1px;
    border-bottom-style:solid;
    border-bottom-width:1px;
    margin-bottom: 10px ;
    cursor: pointer; 
}

div.challenge_short span.challenge_short_title {
    font-size: 14px; 
    font-weight: bold ;
    padding-right: 30px;
}


div.challenge_short span.challenge_short_author {
    font-size: 14px; 
    font-style: italic ;
}



div.challenge_short div.challenge_short_difficulty img {
    width: 20px ;
}

div.challenge_short div.challenge_short_difficulty {
    float: right ;
    padding-right: 20px ;

}

/* challenge creation ************************************************************************/

div#challenge_instruction h3 {
    padding-top: 20px; 
}


div#challenge_instruction {
    margin-bottom: 50px; 
}

form#create_challenge_form input, form#create_challenge_form textarea {
  width: 370px;
  border-radius: 10px;
  margin-bottom: 7px;
  font-size: 16px ;
  padding-left: 10px; 
  padding-top: 5px; 
  padding-bottom: 5px; 
}

form#create_challenge_form textarea {
  border-style: ridge;
  border-width: 2px;
}

form#create_challenge_form table {
  width: 100%;
}

form#create_challenge_form input[type="submit"] {
  width: 50px;
  margin-left: 600px; 
}

ul#hints_challenge {
  list-style-type : decimal;
  list-style-position : inside;
  padding: 0;
  margin-bottom: 0px;
}


ul#hints_challenge input {
  width: 350px;
}

/* backend challenge ************************************************************************/

table.backend_table input, table.backend_table textarea {
  width: 370px;
  border-radius: 10px;
  margin-bottom: 7px;
  font-size: 16px ;
  padding-left: 10px; 
  padding-top: 5px; 
  padding-bottom: 5px;
}

form.backend_table textarea {
  border-style: ridge;
  border-width: 2px;
}

table.backend_table input[type="submit"] {
  width: 100px;
  margin-left: 570px; 
}

/* challenge overview ***********************************************************************/

div#challenge_overview table td {
  padding-bottom: 7px;
}

/* challenge description *********************************************************************/

div#challenge_descr span.challenge_descr_title {
    font-size: 24px; 
    font-weight : bold ; 
}

div#challenge_descr span.challenge_descr_author {
    margin-left: 20px ; 
    font-style: italic; 
}

div#ranking {
    text-align: left; 
    width: 250px; 
    float: right;
    border-style: solid;
    border-width: 1px; 
    padding: 10px;
    padding-left: 15px; 
    margin-top: -68px;
}

div#challenge_descr_description {
    float: left; 
    width: 380px; 
    padding-top: 30px; 
    text-align: justify; 
}

div#challenge_descr_signature {
    padding-top: 30px; 
}

div#solution_box {
    margin-top: 50px ;
    padding-top: 20px ;
    border-top-style:solid;
    border-top-width:1px;
}


div#solution_box form {
    width: 650px ;
    margin: auto ; 
}


div#solution_box form div {
 clear: both; 
}
div#solution_box form div label {
    float:left ;
}

div#solution_box form div input {
    float:right ;
    width: 300px; 
    margin-bottom: 10px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 10px; 
    -webkit-appearance: textfield;
    padding: 1px;
    background-color: white;
    border: 2px inset;
    -webkit-rtl-ordering: logical;
    -webkit-user-select: text;
    cursor: auto;
    font-size: 16px ;
    padding-left: 10px; 
    padding-top: 5px; 
    padding-bottom: 5px; 
}

div#solution_box form div textarea {
    float:right ;
    margin-bottom: 20px; 
    -webkit-border-radius: 10px; 
    -moz-border-radius: 10px;
    border-radius: 10px; 
    padding-top: 10px; 
    padding-left : 10 px; 
    font-size: 16px ;
    width: 540px ; 
}

div#solution_box form input[type="submit"] {
    text-align: center ;
    width: 100px ;
    margin-left: 300px; 
    font-size: 16px; 
}

div#result div.result_error {
    font-size : 14px; 
    color: red; 
    margin:auto; 
    text-align:center; 
}


div#result div.result_success {
    font-size : 16px; 
    color: green; 
    margin:auto; 
    text-align:center; 

}

div.centered {
    margin-top: 10px;
    font-weight: bold; 
    text-align: center;
    margin-right: 40px ;
    margin-bottom: 10px ;
    padding-top: 5 px ;
    padding-bottom: 5 px ;
    border-style: solid; 
}


form.usual_form div label {
    float: left ; 
}


form.usual_form div input {
    float: right ; 
}

table.backend_table {
    width: 700px; 
}

